<div
  class="card mb-3"
  *ngIf="ListWithUser"
  [ngClass]="{
    'bg-verde': ListWithUser.completed,
    'bg-rosso': !ListWithUser.completed
  }"
>
  <div class="card-body d-flex align-items-center p-1 ms-1">
    <input
      type="checkbox"
      [(ngModel)]="ListWithUser.completed"
      (click)="toggleStatus()"
      class="me-3"
    />
    <img [src]="ListWithUser.image" alt="Img profile" class="rounded-circle" />
    <div class="flex-grow-1 ms-2">
      <h5 class="card-title">{{ ListWithUser.title }}</h5>
      <p class="card-text fw-bold text-uppercase">{{ ListWithUser.todo }}</p>
      <p class="card-text">Email: {{ ListWithUser.email }}</p>
      <p class="card-text">
        Creator: {{ ListWithUser.firstName }} {{ ListWithUser.lastName }}
      </p>
    </div>
  </div>
</div>
