@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Reddit+Mono:wght@200..900&display=swap");
img {
  width: 50px;
}
p {
  margin: 0;
}

.bg-verde {
  background-color: #7ee999;
}
.bg-rosso {
  background-color: #d86969;
}

.card {
  font-family: "Cinzel", serif;
}
