@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");
.greenButton {
  background-color: #7ee999;
}

h1 {
  font-family: "Reddit Mono", monospace;
  font-size: 5em;
}

img {
  width: 150px;
}

iframe {
  width: 560px;
  height: 300px;
}
