<div class="container-fluid">
  <div class="row align-items-center colorbg pt-3">
    <div class="col-auto d-none d-lg-block">
      <img src="../../../assets/image/image2.png" alt="Just Do It logo" />
    </div>
    <div class="col d-flex justify-content-center mt-1">
      <iframe
        src="https://www.youtube.com/embed/ZXsQAXx_ao0"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-auto d-none d-lg-block">
      <img src="../../../assets/image/image3.png" alt="Just Do It logo" />
    </div>

    <div class="col-12 text-center"><h1>Just Do It.</h1></div>
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Search Author"
              aria-label="Search author"
              aria-describedby="button-addon2"
              (input)="filterPosts($event)"
            />
            <button
              class="btn btn-outline-secondary greenButton fw-bold text-dark"
              type="button"
              id="button-addon2 "
            >
              Search
            </button>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12 d-inline-block" *ngFor="let post of listArr">
              <app-card [ListWithUser]="post"></app-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
